<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    <link href="~/Content/Css/Bootstrap4/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <header>
            @Html.ActionLink("Events Manager", "Index", "Home", new { @class = "navbar" })
            <nav>
                <ul>
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>
            </nav>
        </header>
        <section>
            @RenderBody()
        </section>
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>


    <script src="~/Scripts/Bootstrap4/jquery-3.1.1.slim.min.js"></script>
    <script src="~/Scripts/Bootstrap4/tether.min.js"></script>
    <script src="~/Scripts/Bootstrap4/bootstrap.min.js"></script>
</body>
</html>
